/* General Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}


body {
    background: rgb(245, 245, 245);
    font-family: "Hind-Regular", "Hind-Light";
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 85%;
}

.clear {
    clear: both;
}

.dot {
    color: rgb(163, 160, 160);
    font-size: 0.315rem;
}

header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/Header-Banner.png) no-repeat;
    background-position: center;
    background-size: auto;
    height: 40.625rem;
}

.navigation {
    background: rgb(0, 0, 0);
    height: 3.75rem;
    margin-bottom: 9.375rem;
    width: 100%;
}

.mobile-navigation {
    display: none;
}

.logo {
    float: left;
    height: auto;
    width: 9.375rem;
}

.menu {
    float: left;
}

.menu a {
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    margin-right:  0.9375rem;
    padding: 0.3125rem 0.625rem;
    text-decoration: none;
    text-transform: uppercase;
}

a.active {
    color: rgb(29, 198, 139);
}

.logo, .menu {
    margin-top: 1rem;
}

.icons {
    float: right;
    margin-top: 0.625rem;
}

.icons a {
    color: rgb(255, 255, 255);
    font-size: 1.563rem;
    margin-right: 1.563rem;
    
}

.icons a:last-child { 
    margin-right: 0;
}

.icons .user i {
    background: rgb(163, 160, 160);
    border-radius: 50%;
    height: 2.5rem;
    margin: 0;
    padding: 0;
    padding-top: 0.313rem;
    text-align: center; 
    width: 2.5rem;
}

.search-title {
    color: rgb(255, 255, 255);
    text-align: center;
}

.search-title h2{
    font-size: 3em;
    margin-bottom: 0;
}

.search-title p{
    font-size: 1.8em;
    font-weight: lighter;
    margin-top: 0;
}



.search-form form {
    margin-top: 3.125rem;
}

.search-form input {
    margin-right: 0.125rem;
}

input.location, input.miles, input.favourite, input.cuisine {
    background-repeat: no-repeat;
    background-position: 0.625rem 1.438rem;
    background-size: 1.25rem;   
}

input.location {
    background-image: url(../images/placeholder.svg);
    width: 24%;
}

input.miles {
    background-image: url(../images/placeholder.svg);
    width: 12%;
}

input.favourite {
    background-image: url(../images/heart.svg);
    width: 24%;
    
}

input.cuisine {
    background-image: url(../images/light-bulb.svg);
    width: 24%;
}

.search-form input[type="text"] {
    border: none;
    border-radius: 0.188rem;
    color: rgb(7, 7, 7);
    font-size: 1em;
    height: 4.063rem;
    outline: none;
    padding: 1.25rem 0 1.25rem 2.5rem;  
}

.search-form input[type="text"]:focus {
    border-color: rgb(29, 198, 139);
    background: rgb(29, 198, 139);
    caret-color: rgb(255, 255, 255);
    color: #fff;
}



input[type="submit"].submit {
    background: rgb(29, 198, 139);
    border: none;
    border-radius: 0.188rem;
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: bold;
    height: 4.063rem;
    letter-spacing: 0.094rem;
    margin-bottom: 0;
    outline: none;
    padding: 0.313rem 0.625rem;
    text-transform: uppercase;
    width: 12%;
}

.advanced-search {
    margin-top: 1.563rem;
}

.advance-title {
    float: left;
}

.advance-title h3 {
    font-family: "Hind-Light";
    font-size: 1.875rem;
    font-weight: 550;
    margin-bottom: 0.188rem;
}

.advance-title p {
    color: rgb(157, 157, 157);
    display: inline;
    padding: 0 0.625rem;
    position: relative;   
}

.advance-title p:first-child {
    padding-right: 0;   
}

.advance-title p span {
    position: absolute;
    padding-left: 0.313rem;
    top: 0.625rem;
}

.advanced-button {
    float: right;
    margin-top: 3.125rem;
}

.advanced-button button{
    background: rgb(29, 24, 24);
    border-radius: 0.25rem;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: bold;
    padding: 1.125rem 1.125rem;
    text-transform: uppercase;
}

.map {
    margin: 4.375rem auto;
    width: 80%;
}

.result-title {
    font-size: 1.25rem;
    word-spacing: 0.125rem;
}

.result-title span{
    font-weight: bold;
}


.user-card {
    background: rgb(255, 255, 255);
    border-radius: 0.25rem;
    box-shadow: 0.125rem 0.063rem 0.5rem 0.125rem rgb(222, 219, 219);
    cursor: pointer;
    display: inline-block;
    margin-bottom: 1.875rem;
    margin-right: 0.313rem;
    padding: 1.25rem 0.625rem 0.938rem 0.625rem;
    text-align: center;
    width: 24.2%;
}

.user-card:hover {
    box-shadow: 0.125rem 0.125rem 1.125rem 0.125rem rgb(222, 219, 219);
}

.user-card:last-child {
    margin-right: 0;

}

.card-image img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 30%;
}

.card-image span {
    border-radius: 50%;
    height: 0.938rem;
    position: absolute;
    margin-left: 1.375rem;
    margin-right: auto;
    margin-top: -1.438rem;
    width: 0.938rem;
}

.away {
    border: 0.125rem solid rgb(255, 255, 255);
    background: rgb(232, 157, 28);
}

.offline {
    border: 0.125rem solid rgb(255, 255, 255);
    background: rgb(220, 221, 221);
}
.online {
    border: 0.125rem solid rgb(255, 255, 255);
    background: rgb(29, 198, 139);
}

.offline {
    border: 0.125rem solid rgb(255, 255, 255);
    background: rgb(220, 221, 221);
}

.description h2 {
    margin-bottom: 0;
    margin-top: 0.313rem;

}

.description p {
    color: rgb(163, 160, 160);
    display: inline-block;
    font-size: 0.875rem;
    margin-top: 0;
    padding-right: 0.938rem;
    position: relative;
}

.description p:last-child {
    padding-right: 0rem;
}

.description p .dot{
    left: -0.625rem;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0.5rem;
}

.niche {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 0.625rem;
}

.niche li {
    border-left: 0.063rem solid rgb(120, 120, 120);
    color: rgb(120, 120, 120);
    display: inline;
    font-size: 0.875rem;
    padding: 0 0.625rem 0 0.938rem;
    text-transform: capitalize;
}

.niche li:first-child {
    border-left: none;
    padding-left: 0;
}

.card-btn {
    background: transparent;
    border: 0.063rem solid rgb(120, 120, 120);
    border-radius: 0.188rem;
    color: rgb(120, 120, 120);
    font-size: 0.875rem;
    outline: none;
    margin-right: 0.313rem;
    padding: 0.313rem 0.625rem;
    text-transform: capitalize;
}

.card-btn:last-child {
    margin-right: 0;
}

.pagination {
    margin: 3.75rem 0;
    text-align: right;
}


.pagination a{
    border-radius: 0.25rem;
    color: rgb(50, 49, 49);
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0 0.938rem;
}

.pagination a:first-child{
    padding-left: 0;
}

.pagination a:last-child{
    padding-right: 0;
}

.pagination a.active {
    background-color: rgb(29, 198, 139);
    color: white;
  }
  
 
 .pagination a:hover:not(.active) {
      background-color: #ddd;
}



footer {
    background: rgb(0, 0, 0);
    color: rgb(163, 160, 160);
    overflow: hidden;
}

.copyright {
    float: left;
}

.footer-links {
    float: right;
    margin-top: 0.938rem;
}

.footer-links a{
    border-left: 0.063rem solid rgb(163, 160, 160);
    color: rgb(163, 160, 160);
    font-size: 0.875rem;
    padding: 0 0.625rem;
    text-decoration: none; 
}

.footer-links a:first-child{
    border-left: none;
    padding-left: 0;
    text-decoration: none; 
}




